In [1]:
import os
import csv
import pandas as pd

In [2]:
tv_shows = os.path.join("../CSV Resources/tv_shows.csv")

netflix_title = []
hulu_title = []
prime_title = []
disney_title = []

netflix_year = []
hulu_year = []
prime_year = []
disney_year = []

netflix_age = []
hulu_age = []
prime_age = []
disney_age = []

netflix_imdb = []
hulu_imdb = []
prime_imdb = []
disney_imdb = []

netflix_rotten = []
hulu_rotten = []
prime_rotten = []
disney_rotten = []

In [3]:
with open(tv_shows) as tv_shows_file:
    csv_reader = csv.reader(tv_shows_file, delimiter = ",")
    for show in csv_reader:
        if show[6] == "1":
            netflix_title.append(show[1])
            netflix_year.append(show[2])
            netflix_age.append(show[3])
            netflix_imdb.append(show[4])
            netflix_rotten.append(show[5])
        if show[7] == "1":
            hulu_title.append(show[1])
            hulu_year.append(show[2])
            hulu_age.append(show[3])
            hulu_imdb.append(show[4])
            hulu_rotten.append(show[5])
        if show[8] == "1":
            prime_title.append(show[1])
            prime_year.append(show[2])
            prime_age.append(show[3])
            prime_imdb.append(show[4])
            prime_rotten.append(show[5])
        if show[9] == "1":
            disney_title.append(show[1])
            disney_year.append(show[2])
            disney_age.append(show[3])
            disney_imdb.append(show[4])
            disney_rotten.append(show[5])

In [4]:
netflix_df = pd.DataFrame({'Title': netflix_title,
                           'Year': netflix_year,
                           'Age': netflix_age,
                           'IMDB': netflix_imdb,
                           'Rotten Tomatoes': netflix_rotten})
netflix_df = netflix_df.set_index('Title')
netflix_df.head()

                  Year  Age IMDB Rotten Tomatoes
Title
Breaking Bad      2008  18+  9.5             96%
Stranger Things   2016  16+  8.8             93%
Money Heist       2017  18+  8.4             91%
Sherlock          2010  16+  9.1             78%
Better Call Saul  2015  18+  8.7             97%

In [5]:
hulu_df = pd.DataFrame({'Title': hulu_title,
                        'Year': hulu_year,
                        'Age': hulu_age,
                        'IMDB': hulu_imdb,
                        'Rotten Tomatoes': hulu_rotten})
hulu_df = hulu_df.set_index('Title')
hulu_df.head()

                                  Year  Age IMDB Rotten Tomatoes
Title
Attack on Titan                   2013  16+  8.8             94%
Fullmetal Alchemist: Brotherhood  2009  18+  9.1            100%
Community                         2009   7+  8.5             88%
Parks and Recreation              2009  16+  8.6             93%
Twin Peaks                        1990  18+  8.8             89%

In [6]:
prime_df = pd.DataFrame({'Title': prime_title,
                           'Year': prime_year,
                           'Age': prime_age,
                           'IMDB': prime_imdb,
                           'Rotten Tomatoes': prime_rotten})
prime_df = prime_df.set_index('Title')
prime_df.head()

                                Year  Age IMDB Rotten Tomatoes
Title
Parks and Recreation            2009  16+  8.6             93%
Star Trek: The Next Generation  1987   7+  8.6             89%
The Good Wife                   2009  16+  8.3             94%
Schitt's Creek                  2015  16+  8.4             50%
Burn Notice                     2007   7+  7.9             88%

In [13]:
disney_df = pd.DataFrame({'Title': disney_title,
                           'Year': disney_year,
                           'Age': disney_age,
                           'IMDB': disney_imdb,
                           'Rotten Tomatoes': disney_rotten})
disney_df = disney_df.set_index('Title')
disney_df.head()

                                Year  Age IMDB Rotten Tomatoes
Title
Lab Rats                        2012   7+  6.6
America's Funniest Home Videos  1989   7+  6.2
Brain Games                     2011   7+  8.3
Jessie                          2011  all  5.9
PJ Masks                        2015  all  5.6

In [14]:
netflix_df.to_csv("../CSV Resources/netflix.csv")
hulu_df.to_csv("../CSV Resources/hulu.csv")
prime_df.to_csv("../CSV Resources/prime.csv")
disney_df.to_csv("../CSV Resources/disney.csv")